
	<div class="row">
		<h1 class="span12">About Me</h1>
		<img class="span2 img-polaroid" src="<%= image_path("me.jpg") %>" width="150" />
		<p class="span9 justified">I am a curious, entrepreneurial marketing manager with 10 years experience in product and brand marketing over web, email, direct mail, social media, advertising and event channels. At Andreini & Company, I drive the strategic, creative and technical aspects of developing and executing retention and lead generation efforts including analytics, copy, design, web development, project management and collaboration with internal and external stakeholders at all organizational levels.</p>

		<p class="span19 justified">And writing code puts a twinkle in my eye.</p>
	</div>
