// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero-unit {
	background-image:url(asset_path('dark-knight.jpg'));
	background-size:cover;
	color:#fff;
	margin-bottom:0;
	margin-top:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	height:80px;
	overflow:hidden;
	text-shadow:4px 4px 12px #0c0f22;
	border-bottom:10px solid #0c0f22;
}
.index .hero-unit {
	height:110px;
}

ul.results-list {
	list-style-type:none;
	-moz-column-count: 4;
    -moz-column-gap: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 0;
    column-count: 4;
    column-gap: 0;
    width: 100%;
    padding:0;
    margin:0;
}
.results-list .result {
	background:#ddd;
	display:inline-block;
	margin-bottom:0;
	width: 92%;
	padding:4%;
}
.results-list .result:nth-of-type(2n) {
	background:#eee;
}
.results {
	overflow:hidden;
}
.results img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.form-container {
	padding-top:2em;
}
.navbar {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	margin-bottom:0;
	z-index:99999;
}
.navbar-inner {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

.show form {
	display:inline-block;
}
.show .btn {
	margin-right:4%;
}
.navbar .btn {
	margin-left:1em;
}
