<%= render "main/hero" %>

<div class="hero-unit projects">
	<h3>Projects</h3>
	<a class="btn" href="<%= projects_path %>">See all projects <i class="icon-chevron-right"></i></a>
	<%= render "main/project_results" %>
</div>

<!--div class="hero-unit posts">
	<!-- posts --> 
	<!--a class="btn" href="#">See all posts <i class="icon-chevron-right"></i></a>
</div-->

<div class="hero-unit contact">
	<!-- contact -->
</div>
<a href="<%= new_user_session_path %>">Log In</a> 