<section class="hero-unit">
  <h1 style="text-align:center;">Your place for finding stuff you want, and dumping stuff you don't</h1>

  <br/>

  <div class='action-buttons'>
    <a class="btn btn-primary btn-large" href="#">Browse Classifieds</a>
    <a class="btn btn-success btn-large" href="#">Sign In &amp; Create Your Own</a>
  </div>
</section>