<%= render "movies/hero" %>
<div class="container-fluid">
	<div class="row-fluid form-container">
		<div class="span3 offset4">
			<%= render "movies/form" %>
		</div><!--end span-->
	</div><!--end row-->
</div><!--end container-->